body {
    font-family: Verdana;
    background-color:black;
}

header {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

.link {
    display: block;
    margin: auto;
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

video, img {
    display: block;
    margin: auto;
} 